<app-top-bar></app-top-bar>



<div class="alert-wrapper" ng-cloak>
  <div class="alert fadein     " ng-if="alerts.current" ng-click="dismissAlert()">
    <!-- {{alerts.current.type}} -->
      <i class="glyphicon"
         ng-class="{'glyphicon-ok': alerts.current.type == 'info', 'glyphicon-remove': alerts.current.type == 'error'}"></i>
      <!-- <span>{{alerts.current.message}}</span> -->

      <div class="pull-right" ng-show="alerts.queue.length > 0">
          <!-- <span class="badge">{{alerts.queue.length + 1}}</span> -->
      </div>
  </div>
</div>

<div id="main" class="wrapper full clearfix" ng-view="" ng-cloak ng-style="{height: window.height + 'px'}">
</div>
