<div class="navbar navbar-fixed-top navbar-inverse" role="navigation" id="main-header">
  <div class="fixed-container">
      <div class="navbar-header">
          <a ng-click="backToLanding()" class="landing-logo" ng-if="account != null && account != undefined" title="">
            <!-- {{'GENERAL.MAIN-TITLE' | translate}} -->
              <img ng-src="images/flowable-logo.png" ng-srcset="images/flowable-logo.png 1x, images/flowable-logo@2x.png 2x">
          </a>
          <ul class="nav navbar-nav" id="main-nav" ng-show="authenticated">
              <li ng-class="{'active' : item.id == mainPage.id}" ng-repeat="item in mainNavigation">
                  <a ng-click="setMainPage(item)"> <!--{{item.title | translate}} --></a>
              </li>
          </ul>
      </div>
      <div class="pull-right  "
           ng-class="{'app-indicator': currentAppDefinition}" ng-if="authenticated" ng-cloack>
           <!-- {{currentAppDefinition.definition.theme}}  -->
          <span ng-if="currentAppDefinition.definition.theme">
              <!-- {{currentAppDefinition.name}} -->
          </span>
          <i class="glyphicon "></i>
          <!-- {{currentAppDefinition.definition.icon}} -->
          <div class="dropdown btn-group btn-group-sm" activiti-fix-dropdown-bug>
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <!-- {{account.firstName && account.firstName != 'null' ? account.firstName : ''}} {{account.lastName && account.lastName != 'null' ? account.lastName : ''}} -->
                  <span class="glyphicon glyphicon-chevron-down" style="font-size: 10px" aria-hidden="true"></span>
              </button>
              <ul class="dropdown-menu pull-right">
                  <li><a href="" ng-click="backToLanding()" translate>GENERAL.ACTION.DASHBOARD</a></li>
                  <li><a href="" ng-click="logout()" translate>GENERAL.ACTION.LOGOUT</a></li>
              </ul>
          </div>
      </div>
  </div>
</div>
