
<div class="navbar navbar-fixed-top navbar-inverse" role="navigation" id="main-header">
  <div class="fixed-container">
      <div class="navbar-header">
          <a (click)="backToLanding()" class="landing-logo" *ngIf="account != null && account != undefined" title="{{'GENERAL.MAIN-TITLE' | translate}}">

              <img [src]="flowableLogo" srcset="./assets/images/flowable-logo.png 1x, ./assets/images/flowable-logo@2x.png 2x">
          </a>
          <ul class="nav navbar-nav" id="main-nav" *ngIf="authenticated">
            <li ngClass="{'active' : item.id == mainPage.id}" *ngFor="let item of mainNavigation">
              <a (click)="setMainPage(item)">{{item.title | translate}}</a>
          </li>
          </ul>
      </div>
      <div class="pull-right {{currentAppDefinition.definition.theme}}"
                 ngClass="{'app-indicator': currentAppDefinition}" *ngIf="authenticated" ng-cloack>
                <span *ngIf="currentAppDefinition.definition.theme">
                    {{currentAppDefinition.name}}
                </span>
                <i class="glyphicon {{currentAppDefinition.definition.icon}}"></i>

                <div class="dropdown btn-group btn-group-sm"  [class.open] = "isOpenDropdown" (click)="isOpenDropdown = !isOpenDropdown">
                    <button type="button" class="btn btn-default dropdown-toggle" >
                    	{{account.firstName && account.firstName != 'null' ? account.firstName : ''}} {{account.lastName && account.lastName != 'null' ? account.lastName : ''}}
                        <span class="glyphicon glyphicon-chevron-down" style="font-size: 10px" aria-hidden="true"></span>
                    </button>
                    <ul class="dropdown-menu pull-right">
                        <li><a href="" (click)="backToLanding()" translate>GENERAL.ACTION.DASHBOARD</a></li>
                        <li><a href="" (click)="logout()" translate>GENERAL.ACTION.LOGOUT</a></li>
                    </ul>
                </div>
            </div>
  </div>
</div>



